<div class="card text-center mt-5">

    <div class="card-header">
      Adoptez tout plein de chatons !
    </div>

    <div class="card-body">
      <h5 class="card-title">Qui sommes-nous ?</h5>
      <p class="card-text">Nous permettons à tout un chacun d'adopter des chatons à travers le monde entier !<br>
        Vous pouvez aussi ajouter vos propre chatons , les proposer à l'adoption ou bien les adopter vous même ! <br>
        </p>
        <div>
          <img src="./assets/img/menuKitten.png" class="img-fluid rounded-start" alt="CutekittenLogo"> 
        </div>
        <a routerLink="/adopt" class="btn btn-primary mt-5">Adopte un chaton 😸</a>      
    </div>
</div>


